src/site/images/3-cupcakes.jpg filter=lfs diff=lfs merge=lfs -text
src/site/images/cupcake.jpg filter=lfs diff=lfs merge=lfs -text
src/site/images/tea-and-cake.jpg filter=lfs diff=lfs merge=lfs -text
